* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #474747; }

body.hidden {
  overflow: hidden; }

form {
  display: flex;
  flex-direction: column; }
  form input, form textarea, form select, form option {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 18px 20px;
    margin: 0 0 20px;
    border-radius: 2px;
    color: #474747;
    line-height: 1.2;
    border: none;
    outline: none;
    box-sizing: border-box; }
  form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #474747; }
  form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #474747; }
  form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #474747; }
  form input:-moz-placeholder {
    /* Firefox 18- */
    color: #474747; }
  form .select-wrapper {
    position: relative; }
  form .select-wrapper:before {
    content: '';
    color: #474747;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 38%;
    pointer-events: none;
    width: 8px;
    height: 5px;
    background: url(../img/sort-down.svg) center center/cover no-repeat;
    transform: translate(0, -50%); }
  form select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  form select::-ms-expand {
    display: none; }
  form option {
    height: 40px;
    background: #fff;
    outline: none; }
  form option:checked {
    background: #71CCFF; }
  form textarea {
    height: 150px;
    margin-bottom: 40px;
    resize: none; }
  form .main-btn {
    background: transparent;
    color: #fff;
    margin: 0 auto; }
    form .main-btn i {
      color: #fff; }
    form .main-btn:hover {
      background: #fff;
      border-color: #fff;
      color: #0075E1; }
      form .main-btn:hover i {
        color: #0075E1; }

.fixed-feddback {
  position: fixed;
  bottom: 0;
  padding: 0 0 0 63px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  z-index: 999; }
  .fixed-feddback.right {
    right: 0;
    padding: 0 63px 0 0; }
  .fixed-feddback .social {
    position: relative;
    display: flex;
    flex-direction: column; }
    .fixed-feddback .social i {
      color: #B3B3B3;
      font-size: 25px;
      margin-top: 10px; }
    .fixed-feddback .social h5 {
      position: absolute;
      right: -32px;
      bottom: 4px;
      transform: translate(100%, 0);
      width: 150px; }
  .fixed-feddback .message {
    position: relative; }
    .fixed-feddback .message form {
      display: none;
      position: relative;
      width: 295px;
      padding: 30px 20px;
      background: #F6F6F6;
      border-radius: 10px 10px 0 0; }
      .fixed-feddback .message form h3 {
        text-align: center;
        margin-bottom: 22px; }
      .fixed-feddback .message form input {
        margin-bottom: 16px;
        padding: 15px; }
      .fixed-feddback .message form textarea {
        margin-bottom: 30px;
        min-height: 120px;
        padding: 15px;
        resize: none; }
      .fixed-feddback .message form .main-btn {
        color: #0075E1;
        width: 100%;
        margin: 0; }
        .fixed-feddback .message form .main-btn i {
          color: #0075E1; }
        .fixed-feddback .message form .main-btn:hover {
          background: #71CCFF;
          border-color: #71CCFF;
          color: #fff; }
          .fixed-feddback .message form .main-btn:hover i {
            color: #fff; }
    .fixed-feddback .message .message-btn {
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translate(-100%, -100%);
      width: 40px;
      height: 45px;
      background: url(../img/message.svg) center center/cover no-repeat;
      z-index: 99;
      transition: all 0.1s linear; }
    .fixed-feddback .message .message-btn.active {
      top: -10px;
      left: 20px;
      transform: translate(0, 0); }

.container {
  width: 1146px;
  margin: 0 auto; }

h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -2.2px;
  line-height: 0.95; }

h2.title-h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 0.9;
  color: #333; }

h3.sub-title-h3, .menu a {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.45; }

h4.sub-title-h4 {
  font-size: 23px;
  font-weight: 700;
  color: #333; }

p {
  font-size: 13px;
  font-weight: 500; }

h5 {
  font-size: 11px;
  font-weight: 400; }

input, textarea {
  font-size: 12px;
  font-weight: 500; }

.main-btn {
  display: block;
  width: 264px;
  line-height: 1.1px;
  padding: 20px 0;
  letter-spacing: -0.2px;
  text-align: center;
  color: #0075E1;
  font-weight: 500;
  background: #fff;
  border-radius: 100px;
  border: 2px solid #EAEAEA;
  box-sizing: border-box;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  z-index: 9; }
  .main-btn i {
    margin-left: 12px;
    font-size: 15px;
    color: #0075E1;
    transition: all 0.3s linear; }
  .main-btn:hover {
    background: #71CCFF;
    border-color: #71CCFF;
    color: #fff; }
    .main-btn:hover i {
      color: #fff; }

header {
  padding: 0 63px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  z-index: 998; }
  header .logo {
    padding: 12px 0; }
  header .btn-menu-mob {
    display: none; }
  header nav {
    height: 100%; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      height: 100%; }
      header nav ul li {
        height: 100%;
        list-style: none; }
        header nav ul li:last-child a {
          padding-right: 0; }
        header nav ul li a {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 35px;
          text-decoration: none;
          cursor: pointer; }
          header nav ul li a span {
            position: inherit;
            z-index: 1;
            white-space: nowrap;
            cursor: pointer; }
            header nav ul li a span:first-child {
              position: relative;
              z-index: 1; }
              header nav ul li a span:first-child::after {
                position: absolute;
                z-index: 2;
                display: block;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 35px;
                height: 35px;
                background: transparent;
                border-radius: 5px;
                z-index: -1;
                transition: all 0.3s linear; }
          header nav ul li a:hover span::after {
            background: #71CCFF; }

#main {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
  padding-top: 100px;
  min-height: 550px;
  overflow: hidden; }
  #main > div {
    display: flex; }
  #main .left-part {
    min-width: 34%;
    width: 34%;
    margin-top: 13%; }
    #main .left-part h2 {
      position: relative;
      margin-bottom: 40px; }
      #main .left-part h2::after {
        position: absolute;
        display: block;
        content: '';
        top: 130%;
        left: 25%;
        transform: translate(-100%, -100%);
        width: 11.69vw;
        height: 11.69vw;
        background: #E5C5F4;
        border-radius: 10px;
        z-index: -1; }
      #main .left-part h2::before {
        position: absolute;
        display: block;
        content: '';
        top: calc(130% - 11.69vw);
        left: calc(25% + 70px);
        transform: translate(-100%, -100%);
        width: 68px;
        height: 68px;
        background: #8AF3E7;
        border-radius: 5px;
        z-index: -1; }
    #main .left-part h3 {
      width: 93%;
      margin-bottom: 50px; }
  #main .right-part {
    width: 100%; }
    #main .right-part .house-image {
      position: relative;
      margin-top: -60px;
      margin-left: -73px; }
      #main .right-part .house-image img {
        position: relative;
        z-index: 1; }
      #main .right-part .house-image > div {
        position: absolute;
        top: 59.5%;
        left: 51%;
        transform: translate(-50%, -50%);
        max-width: 460px;
        background: transparent;
        border-radius: 20px;
        padding: 79.6px 0 0 69.6px;
        box-sizing: border-box;
        z-index: 2; }
        #main .right-part .house-image > div h1 {
          margin: 0; }
        #main .right-part .house-image > div a {
          display: block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          background: #fff;
          border-radius: 50%;
          margin: 5px 60px 60px auto; }
          #main .right-part .house-image > div a i {
            color: #0075E1;
            font-size: 18px; }
          #main .right-part .house-image > div a:hover {
            background: #0075E1; }
            #main .right-part .house-image > div a:hover i {
              color: #fff; }
        #main .right-part .house-image > div.hidden {
          background: #71ccff;
          z-index: 0; }
          #main .right-part .house-image > div.hidden * {
            visibility: hidden; }

#our-services {
  padding: 90px 0; }
  #our-services h2 {
    margin-bottom: 16px; }
  #our-services h3 {
    margin-bottom: 49px;
    width: 50%;
    letter-spacing: 0; }
  #our-services .services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px; }
    #our-services .services .service {
      width: calc((100% - 90px) / 4);
      display: flex;
      flex-direction: column;
      align-items: center; }
      #our-services .services .service .icon {
        width: 166px;
        height: 166px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; }
        #our-services .services .service .icon .radial-progress {
          position: relative;
          width: 166px;
          height: 166px;
          border-radius: 50%; }
          #our-services .services .service .icon .radial-progress .inset {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3; }
      #our-services .services .service h4 {
        margin-bottom: 17px; }
      #our-services .services .service p {
        line-height: 1.4; }
  #our-services .main-btn {
    background: #EAEAEA;
    letter-spacing: 0.4px; }
    #our-services .main-btn:hover {
      background: #71CCFF; }

#our-works {
  padding: 80px 0 8px;
  margin-bottom: 85px;
  position: relative; }
  #our-works:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    content: '';
    transform-origin: center;
    background: url(../img/works-bg.svg) center center/90% no-repeat;
    background-attachment: fixed;
    transition: 1s; }
  #our-works .works-swiper-container {
    transform-style: inherit;
    position: relative;
    overflow: hidden; }
    #our-works .works-swiper-container .controllers {
      position: absolute;
      top: 6px;
      width: 264px;
      z-index: 99; }
      #our-works .works-swiper-container .controllers h2 {
        margin-bottom: 36px; }
      #our-works .works-swiper-container .controllers .swiper-button-next, #our-works .works-swiper-container .controllers .swiper-button-prev, #our-works .works-swiper-container .controllers .swiper-pagination {
        position: initial; }
      #our-works .works-swiper-container .controllers .swiper-button-next, #our-works .works-swiper-container .controllers .swiper-button-prev {
        height: 30px;
        margin-top: 0;
        min-width: 68px;
        background-size: contain;
        outline: none; }
      #our-works .works-swiper-container .controllers .swiper-button-next {
        background-image: url(../img/right.svg); }
      #our-works .works-swiper-container .controllers .swiper-button-prev {
        background-image: url(../img/left.svg); }
      #our-works .works-swiper-container .controllers .swiper-button-next.swiper-button-disabled, #our-works .works-swiper-container .controllers .swiper-button-prev.swiper-button-disabled {
        opacity: 0.5; }
      #our-works .works-swiper-container .controllers .swiper-pagination {
        line-height: 30px;
        font-size: 36px;
        font-weight: 500;
        color: #B3B3B3;
        letter-spacing: -4px; }
        #our-works .works-swiper-container .controllers .swiper-pagination span {
          display: inline-block;
          color: #B3B3B3; }
    #our-works .works-swiper-container .controllers > div {
      display: flex; }
  #our-works .our-works-slide {
    display: flex;
    justify-content: space-between; }
    #our-works .our-works-slide .right {
      width: 66%;
      overflow: hidden; }
      #our-works .our-works-slide .right .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto; }
      #our-works .our-works-slide .right .swiper-slide {
        background-size: cover;
        background-position: center;
        height: 580px; }
      #our-works .our-works-slide .right .picture-gallery-top {
        height: 80%;
        width: 100%; }
      #our-works .our-works-slide .right .picture-gallery-thumbs {
        height: 85px;
        box-sizing: border-box; }
        #our-works .our-works-slide .right .picture-gallery-thumbs .swiper-slide {
          position: relative;
          opacity: 1; }
          #our-works .our-works-slide .right .picture-gallery-thumbs .swiper-slide:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background: rgba(255, 255, 255, 0.6); }
      #our-works .our-works-slide .right .picture-gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%; }
      #our-works .our-works-slide .right .picture-gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1; }
        #our-works .our-works-slide .right .picture-gallery-thumbs .swiper-slide-thumb-active:after {
          background: rgba(255, 255, 255, 0); }
      #our-works .our-works-slide .right .controller {
        position: absolute;
        top: 41%;
        transform: translate(0, 0);
        z-index: 9;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 56px; }
      #our-works .our-works-slide .right .swiper-button-prev.swiper-button-white, #our-works .our-works-slide .right .swiper-button-next.swiper-button-white {
        width: 56px;
        height: 56px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 10;
        outline: none; }
        #our-works .our-works-slide .right .swiper-button-prev.swiper-button-white:after, #our-works .our-works-slide .right .swiper-button-next.swiper-button-white:after {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 52%;
          transform: translate(-50%, -50%);
          width: 21px;
          height: 20px;
          background: url(../img/home-left.svg); }
      #our-works .our-works-slide .right .swiper-button-prev {
        left: 0; }
      #our-works .our-works-slide .right .swiper-button-next.swiper-button-white {
        right: 0; }
        #our-works .our-works-slide .right .swiper-button-next.swiper-button-white:after {
          background: url(../img/home-right.svg); }
      #our-works .our-works-slide .right .swiper-button-next.swiper-button-disabled, #our-works .our-works-slide .right .swiper-button-prev.swiper-button-disabled {
        opacity: 0.6; }
    #our-works .our-works-slide .left {
      margin-top: 6px;
      padding: 130px 25px 0 0;
      box-sizing: border-box;
      width: calc(34% - 15px); }
    #our-works .our-works-slide h4 {
      margin-bottom: 15px; }
    #our-works .our-works-slide h5 {
      margin-bottom: 5px; }
    #our-works .our-works-slide h3 {
      margin-bottom: 19px; }
    #our-works .our-works-slide p {
      width: 76%;
      line-height: 1.4;
      margin: 26px 0 33px; }

.our-works-slider {
  transform: translate3d(0, 0, 0) !important; }

.our-works-slider > .swiper-slide {
  opacity: 0 !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute !important; }

.our-works-slider > .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
  position: relative !important;
  z-index: 8; }

#order-now {
  padding: 160px 0 165px;
  background: url(../img/order-bg.png) center center no-repeat; }
  #order-now h2, #order-now h3 {
    text-align: center; }
  #order-now h2 {
    margin-bottom: 20px; }
  #order-now h3 {
    margin-bottom: 50px; }
  #order-now form {
    width: 49%;
    min-width: 500px;
    margin: 0 auto; }

#our-partners {
  position: relative;
  padding: 83px 0 20px;
  margin: 52px 0 81px; }
  #our-partners:after {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    display: block;
    z-index: -1;
    content: '';
    background: url(../img/partner-bg.svg) center center/75% no-repeat;
    background-attachment: fixed; }
  #our-partners h2 {
    margin-bottom: 73px;
    text-align: center; }
  #our-partners > div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    #our-partners > div .partner {
      width: 166px;
      height: 166px;
      margin-right: 30px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ECECEC;
      transition: all 0.3s linear;
      box-sizing: border-box;
      background: #fff; }
      #our-partners > div .partner img {
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        /* Firefox 10+, Firefox on Android */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        opacity: 0.4;
        transition: all 0.3s linear; }
      #our-partners > div .partner:nth-child(6n) {
        margin-right: 0; }
      #our-partners > div .partner:hover {
        border-color: #71CCFF; }
        #our-partners > div .partner:hover img {
          filter: none;
          opacity: 1; }

#feedback {
  padding: 79px 0 80px;
  margin-bottom: 127px;
  position: relative; }
  #feedback:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    content: '';
    background: url(../img/feedback-bg.svg) center center/80% no-repeat;
    background-attachment: fixed; }
  #feedback h2, #feedback h3 {
    text-align: center; }
  #feedback h2 {
    margin-bottom: 15px; }
  #feedback .feedback-slider {
    overflow: hidden;
    width: 80%;
    padding: 80px 0 0; }
    #feedback .feedback-slider .swiper-slide {
      padding: 0 95px;
      box-sizing: border-box; }
      #feedback .feedback-slider .swiper-slide * {
        text-align: center; }
      #feedback .feedback-slider .swiper-slide h3 {
        margin-bottom: 28px; }
      #feedback .feedback-slider .swiper-slide h5 {
        margin-bottom: 5px; }
      #feedback .feedback-slider .swiper-slide p {
        margin: 0 auto 58px;
        line-height: 1.4;
        width: 77%; }
      #feedback .feedback-slider .swiper-slide .main-btn {
        margin: 0 auto; }
        #feedback .feedback-slider .swiper-slide .main-btn:hover {
          background: #71CCFF;
          border-color: #71CCFF;
          color: #fff; }
          #feedback .feedback-slider .swiper-slide .main-btn:hover i {
            color: #fff; }
    #feedback .feedback-slider .swiper-button-next, #feedback .feedback-slider .swiper-button-prev {
      outline: 0;
      width: 50px;
      top: 49%; }
    #feedback .feedback-slider .swiper-button-next {
      right: 35px;
      background: url(../img/feedback-right.svg) center center/contain no-repeat; }
    #feedback .feedback-slider .swiper-button-prev {
      left: 35px;
      background: url(../img/feedback-left.svg) center center/contain no-repeat; }
    #feedback .feedback-slider .swiper-button-next.swiper-button-disabled, #feedback .feedback-slider .swiper-button-prev.swiper-button-disabled {
      opacity: 0.7; }
  #feedback .people-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 30px;
    background: url(../img/user.png) center center no-repeat; }

#contact-us {
  padding: 100px 0 0;
  position: relative; }
  #contact-us:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    display: block;
    z-index: -1;
    content: '';
    background: url(../img/contact-bg.svg) top center/72% no-repeat;
    background-attachment: fixed; }
  #contact-us h2, #contact-us h3 {
    text-align: center; }
  #contact-us h2 {
    margin-bottom: 34px; }
  #contact-us h3 {
    margin-bottom: 20px; }
  #contact-us h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #474747; }
    #contact-us h6 span {
      color: #71CCFF; }
  #contact-us .container {
    margin-bottom: 105px; }
    #contact-us .container div {
      display: flex;
      justify-content: center;
      margin-bottom: 47px; }
      #contact-us .container div h6 {
        margin: 0 20px; }
  #contact-us .social i {
    font-size: 39px;
    margin: 0 15px;
    color: #B3B3B3; }
  #contact-us .map {
    height: 465px;
    background: url(../img/map.png) center center/cover no-repeat; }

/*#contact-us, #our-works, #feedback, #our-partners{
    &:after{
        background-attachment: inherit;
    }
}*/
@media only screen and (max-width: 1540px) {
  header .logo img {
    width: 80%; }
  header nav ul li a {
    padding: 0 20px; }
  #main .left-part h2::after {
    width: 130px;
    height: 130px; }
  #main .left-part h2::before {
    top: calc(130% - 130px);
    left: calc(25% + 57px);
    width: 55px;
    height: 55px; }
  #main .right-part .house-image > div {
    top: 50%;
    padding: 50px 0 0 50px;
    width: 350px;
    height: 350px;
    max-width: 350px; }
  #main .left-part h3, #main .left-part h2 {
    margin-bottom: 35px; }
  #our-services .services {
    margin-bottom: 45px; }
  #our-services .services .service .icon {
    margin-bottom: 20px; }
  #our-services, #our-works, #our-partners, #feedback {
    padding: 30px 0; }
  #contact-us {
    padding-top: 30px; }
  #our-works, #our-partners {
    margin-bottom: 30px; }
  #our-works .our-works-slide .right .picture-gallery-top {
    height: 75%; }
  #order-now {
    padding: 80px 0; }
  #feedback {
    margin-bottom: 55px; }
  #contact-us .map {
    height: 350px; }
  h1 {
    font-size: 50px; } }

@media only screen and (max-width: 1400px) {
  .menu a, h3.sub-title-h3 {
    font-size: 15px; }
  header {
    padding: 0 2.5%; }
  .fixed-feddback {
    padding: 0 0 0 2.5%; }
  .fixed-feddback.right {
    padding: 0 2.5% 0 0; }
  header .logo img {
    width: 75%; }
  header nav ul li a {
    padding: 0 15px; }
  h2.title-h2 {
    font-size: 30px; }
  .main-btn {
    padding: 15px 0;
    width: 220px; }
  #main .left-part h2, #main .left-part h3 {
    margin-bottom: 25px; }
  #main .left-part {
    margin-top: 19%; }
  #our-services .services .service h4 {
    font-size: 16px; }
  #order-now h3 {
    margin-bottom: 35px; }
  form textarea {
    height: 120px;
    margin-bottom: 25px; }
  #our-partners h2 {
    margin-bottom: 50px; }
  #our-partners > div {
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box; }
  #our-partners > div .partner {
    width: 150px;
    height: 150px;
    margin: 0 10px 20px; }
  #feedback .feedback-slider {
    padding: 50px 0 0; }
  #our-works .our-works-slide .left {
    width: 40%; }
  #our-works .our-works-slide p {
    width: 85%; }
  #our-works .our-works-slide .right {
    width: 55%; }
  #our-works .our-works-slide .right .swiper-slide {
    height: 450px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 960px; }
  header .logo img {
    width: 80%; }
  .menu a {
    font-size: 14px;
    padding: 0 12px; }
  #main .left-part {
    min-width: 40%;
    width: 40%;
    margin-top: 16%;
    padding: 0 0 0 3vw; }
  #main .right-part .house-image {
    margin-left: -17vw; }
  #main .right-part .house-image > div {
    padding: 25px 0 0 25px;
    width: 300px;
    height: 300px;
    max-width: 300px;
    left: 48%; }
  #our-services .services .service {
    width: calc((100% - 75px) / 4); }
  #our-works .works-swiper-container .controllers h2 {
    margin-bottom: 25px; }
  #our-works .our-works-slide .left {
    padding: 105px 25px 0 0; }
  form input, form option, form select, form textarea {
    padding: 14px 16px;
    margin-bottom: 15px; }
  form textarea {
    margin-bottom: 30px; }
  #order-now h3 {
    margin-bottom: 25px; }
  #order-now h2 {
    margin-bottom: 15px; }
  #order-now {
    padding: 70px 0 50px; }
  #our-partners > div .partner {
    width: 125px;
    height: 125px;
    margin: 0 30px 30px 0; }
  #our-partners > div {
    padding: 0 30px; }
  #feedback .people-image {
    margin-bottom: 25px; }
  #feedback .feedback-slider .swiper-slide h3 {
    margin-bottom: 15px; }
  #feedback .feedback-slider .swiper-slide p {
    width: 85%;
    margin-bottom: 50px; }
  #feedback {
    margin-bottom: 45px; }
  #contact-us .container {
    margin-bottom: 70px; }
  #contact-us .map {
    height: 300px; } }

@media only screen and (max-width: 960px) {
  .container {
    width: 750px; }
  header {
    height: 85px; }
  .menu a {
    font-size: 13px;
    padding: 0 6px; }
  header .logo img {
    width: 90%; }
  #main {
    height: calc(100vh - 85px);
    padding-top: 85px; }
    #main .left-part {
      margin-top: 20%; }
  h1 {
    font-size: 40px; }
  #main .right-part .house-image > div {
    padding: 25px 5px 0 35px;
    height: 250px;
    left: 40%; }
  #main .right-part .house-image > div a {
    margin: 5px 30px 30px auto;
    width: 45px;
    height: 45px;
    line-height: 45px; }
  #our-services h3 {
    width: 75%; }
  #our-services .services {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0; }
    #our-services .services .service {
      width: calc((100% - 60px)/ 2);
      margin-bottom: 60px; }
      #our-services .services .service p {
        width: 80%;
        margin: 0 auto; }
  #our-works .our-works-slide .left {
    width: 37%; }
  #our-works .our-works-slide .right {
    width: 60%; }
  h2.title-h2 {
    font-size: 27px; }
  h4.sub-title-h4 {
    font-size: 20px; }
  #our-works .our-works-slide p {
    margin: 15px 0 20px; }
  #our-works .works-swiper-container .controllers {
    width: 220px; }
  #our-works .works-swiper-container .controllers .swiper-button-next, #our-works .works-swiper-container .controllers .swiper-button-prev {
    min-width: 55px; }
  #our-works .our-works-slide .right .picture-gallery-thumbs {
    height: 70px; }
  #our-works .our-works-slide .right .swiper-button-next.swiper-button-white, #our-works .our-works-slide .right .swiper-button-prev.swiper-button-white {
    width: 45px;
    height: 45px; }
  #our-partners > div .partner:nth-child(6n) {
    margin-right: 30px; }
  #our-partners > div .partner:nth-child(4n) {
    margin-right: 0; }
  #our-partners > div .partner img {
    width: 80%; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 560px; }
  header nav {
    position: absolute;
    top: 84px;
    width: 100vw;
    left: 0;
    padding: 0 2.5%;
    box-sizing: border-box;
    background: white;
    display: none;
    height: calc(100vh - 84px); }
    header nav ul {
      flex-direction: column;
      height: auto; }
      header nav ul li {
        padding: 10px 0; }
  header .logo {
    width: 45%; }
  header .btn-menu-mob {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px 9px;
    box-sizing: border-box;
    background: #71ccff;
    border-radius: 5px; }
    header .btn-menu-mob > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative; }
      header .btn-menu-mob > div p {
        position: absolute;
        top: 2px;
        background: #fff;
        width: 22px;
        height: 3px;
        border-radius: 1px;
        transition: all .3s linear; }
        header .btn-menu-mob > div p:nth-child(2) {
          top: 9px; }
        header .btn-menu-mob > div p:nth-child(3) {
          top: 16px; }
    header .btn-menu-mob.active > div p:nth-child(1) {
      top: 8px;
      transform: rotate(45deg); }
    header .btn-menu-mob.active > div p:nth-child(2) {
      opacity: 0; }
    header .btn-menu-mob.active > div p:nth-child(3) {
      top: 8px;
      transform: rotate(-45deg); }
  h1 {
    font-size: 35px; }
  #main .right-part .house-image > div {
    width: 250px;
    height: 230px; }
  #main .left-part h2::after {
    width: 120px;
    height: 100px; }
  #main .left-part h2::before {
    top: calc(130% - 100px);
    left: calc(25% + 47px);
    width: 45px;
    height: 45px; }
  #our-works .our-works-slide {
    flex-direction: column-reverse; }
    #our-works .our-works-slide .left, #our-works .our-works-slide .right {
      width: 100%; }
    #our-works .our-works-slide .left {
      padding-top: 0; }
    #our-works .our-works-slide .right {
      padding-top: 110px;
      margin-bottom: 50px; }
      #our-works .our-works-slide .right .swiper-slide {
        height: 350px; }
    #our-works .our-works-slide p {
      margin: 20px 0 40px; }
  #order-now form {
    min-width: 350px; }
  #our-partners {
    margin-top: 25px; }
  #our-partners > div .partner:nth-child(4n) {
    margin-right: 30px; }
  #our-partners > div .partner:nth-child(3n) {
    margin-right: 0; }
  #feedback h3 {
    width: 80%;
    margin: 0 auto; }
  #feedback .feedback-slider {
    padding: 35px 0 0; }
  #feedback .feedback-slider .swiper-slide {
    padding: 0 40px; }
  #feedback .feedback-slider .swiper-button-next {
    right: 0;
    top: 44%; }
  #feedback .feedback-slider .swiper-button-prev {
    left: 0;
    top: 44%; }
  #contact-us h6 {
    font-size: 15px;
    white-space: nowrap; }
  #contact-us .container div {
    margin-bottom: 30px; }
  #contact-us .container div h6 {
    margin: 0 10px; }
  #contact-us .container {
    margin-bottom: 40px; }
  #contact-us .map {
    height: 250px; } }

@media only screen and (max-width: 580px) {
  .container {
    width: 95%; }
  header .logo {
    width: 190px; }
    header .logo img {
      width: 100%; }
  #our-services h3 {
    width: 100%; }
  #our-services .services .service {
    width: 100%; }
  #our-works .our-works-slide .right .picture-gallery-top {
    height: 300px; }
  #our-works .our-works-slide .right .picture-gallery-thumbs {
    height: 60px; }
  #our-works .our-works-slide .right .swiper-slide {
    height: 300px; }
  #order-now form {
    min-width: 100%; }
  #our-partners > div {
    padding: 0;
    justify-content: center; }
  #our-partners > div .partner {
    margin: 0 10px 20px 10px; }
  #our-partners > div .partner:nth-child(4n) {
    margin: 0 10px 20px 10px; }
  #our-partners > div .partner:nth-child(3n) {
    margin: 0 10px 20px 10px; }
  #our-partners {
    margin-bottom: 20px; }
  #our-partners::after, #feedback::after, #our-works::after, #contact-us::after {
    display: none; }
  #feedback .feedback-slider {
    width: 95%; }
  #feedback .feedback-slider .swiper-slide p {
    font-size: 11px; }
  #feedback .feedback-slider .swiper-button-next, #feedback .feedback-slider .swiper-button-prev {
    width: 40px; }
  #feedback .feedback-slider .swiper-slide {
    padding: 0 20px; }
  #contact-us .container div.email {
    flex-direction: column;
    margin: 30px 0; }
    #contact-us .container div.email h6 {
      text-align: center;
      margin-bottom: 15px; }
  #feedback {
    margin-bottom: 15px; }
  #our-works .our-works-slide .left {
    padding: 0; }
  .main-btn {
    margin: 0 auto; }
  #main {
    height: auto;
    margin-bottom: 30px; }
  #main > div {
    flex-wrap: wrap; }
  #main .left-part {
    width: 100%;
    margin-bottom: 40px; }
  #main .right-part .house-image {
    margin: 0; }
  #main .right-part .house-image img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto; }
  #main .right-part .house-image > div {
    width: 100%;
    height: 100%;
    left: 50%;
    padding: 20px; }
  #main .left-part h2::after {
    top: 135%;
    width: 80px;
    height: 80px; }
  #main .left-part h2::before {
    top: calc(135% - 80px);
    left: calc(25% + 37px);
    width: 35px;
    height: 35px; }
  .fixed-feddback .message form {
    box-sizing: border-box;
    width: 95vw; } }
